

<div class="fixed-action-btn" style="top: 70%; right: 5%; " > <!-- add a button to add a new message -->
    <a href="/messages/add" class="btn-floating btn-large waves-effect waves-light blue pulse" style=" background-color:goldenrod!important;">
    <i class="fas fa-plus" ></i>
    </a>
</div>