<!-- hamburger menu + nav bar -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" integrity="sha512-iBBXm8fW90+nuLcSKlbmrPcLa0OT92xO1BIsZ+ywDWZCvqsWgccV3gFoRBv0z+8dLJgyAHIhR35VZc2oM/gI1w==" crossorigin="anonymous" />
<link rel="stylesheet" href="../css/style.css">


<nav class="#1565c0 blue darken-3" >
    <div class="nav-wrapper container" >
        <a href="#!" class="brand-logo center" id="navti"><b>Blue Towers</b></a>
        <a href="#" data-target="mobile-demo" class="sidenav-trigger show-on-large"><i class="fas fa-bars"></i></a>
        <ul class="sidenav #1565c0 teal lighten-5" id="mobile-demo">
            <li><a href="/messages" >
            <i class="far fa-comment-alt" style="color: white;"></i> Public Messages</a></li> 
            <li><a href="/dashboard">
            <i class="fas fa-inbox" style="color: white;"></i>Dashboard</a></li>
            <li><a href="/auth/logout">
            <i class="fas fa-sign-out-alt" style="color: white;"></i>Logout</a></li>
        </ul>
    </div>
</nav>